@model Tarea__2.Models.ArticuloVista

@{
    ViewData["Title"] = "Modificar";
    List<SelectListItem> opciones = (List<SelectListItem>)ViewBag.opciones;
}

<br />
<h4>Modificar</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Modificar">
        <!--form-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--input type="hidden" asp-for="Id" -->
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!--label asp-for="ClaseArticulo" class="control-label"></!--label>  <input asp-for="ClaseArticulo" class="form-control" />  <span-- asp-validation-for="ClaseArticulo" class="text-danger"></span-->
                <label asp-for="ClaseArticulo" class="control-label"></label>
                <select class="form-select" asp-for="ClaseArticulo">
                    @foreach (var op in opciones)
                    {
                        <option value="@Html.DisplayName(op.Value)"> @Html.DisplayName(op.Text)</option>
                    }
                </select>

            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div> 

            <br />
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>

        </form> <br />
        <a asp-action="Index">  <input type="submit" value="Cancelar" class="btn btn-primary"> </a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


